@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --bg-primary: #28293e;
  --text-primary: #9c27e4;
  --text-secondary: #391400;
}

body {
  background-color: #fdf0e9;
}


*{
    font-family: "Outfit", sans-serif;
}

@layer base{
    button {
        cursor: pointer;
    }
}

:root {
    --animate-spin: spin 60s linear infinite;
}